name: YouTube Shorts Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup system
        run: |
          sudo apt update
          sudo apt install ffmpeg git -y
          python3 -m pip install --upgrade pip
          pip install moviepy imageio imageio-ffmpeg numpy pillow requests pytrends

      - name: Run automation
        run: |
          python3 bg_image.py
          python3 trends.py
          python3 script.py
          python3 voice.py
          python3 captions.py
          python3 video.py
          python3 metadata.py
