name: YouTube Shorts Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"   # once per day


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup system
        run: |
          sudo apt update
          sudo apt install ffmpeg -y
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run automation
        run: |
          python3 trends.py
          python3 script.py
          python3 voice.py
          python3 video.py
          python3 metadata.py

      - name: Upload videos
        uses: actions/upload-artifact@v4
        with:
          name: shorts
          path: output/
